*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
   background-image: url(https://image.freepik.com/free-photo/soft-wave-sandy-beach_28668-189.jpg);
   background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    }
    
    
    .button{
        font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    }
    #section-a{
       padding: 20px;
       height: 50px;
    background: #926239;
    color: #fff;
    text-align: center;
    }
   
    #section-b{
        padding: 20px;
        height: 150x;
    background: #f4f4f4;
    display: inline-block;
    }


    #section-c{
        margin: 0;
        padding: 0;
    display: flex;
    }
    .Box-1{
        background: #926239;
    color: #fff;
    height: 160px;
   
    width: 33%;
    padding: 20px;
    margin: 0;
    }
    .Box-2{
        color:black;
        background-color: #f9f9f9;;
        height: 160px;
    width: 33%;
    padding: 20px;
    margin: 0;
    

    }
    .Box-3{
        background: #926239;
        color: #fff;
        height: 160px;
    width: 33%;
    padding: 20px;
    margin: 0;

    }


